:root {
  --main-color: #3e7af7;
  --light-gray: #c3cbdf;
  --dark-gray: #8f97aa;
}

.wrapper {
  max-width: 40rem;
  padding: 2rem 2rem;
  margin: 0 auto;
}

input[type='radio'] + label {
  background: rgb(242, 243, 245);
}

input[type='radio']:checked + label {
  background: rgb(224, 226, 229);
}

input[type='radio'] + label:hover {
  filter: brightness(1.02);
}

input[type='checkbox'] + label:hover {
  color: rgb(80, 80, 80);
}

toggle-switch .circle {
  transform: translateX(0%) scale(0.75);
  background: var(--dark-gray);
}
toggle-switch .active .circle {
  transform: translateX(100%) scale(0.75);
  background: white;
}
toggle-switch .slider {
  background: white;
  border: 1px solid var(--light-gray);
}
toggle-switch .active .slider {
  background: var(--main-color);
  border: 1px solid var(--main-color);
}

input[type='checkbox']:focus-visible ~ .slider {
  outline: 2px solid var(--main-color);
  outline-offset: .1rem;
}

toggle-switch {
  height: 1.5rem;
}