:root {
  --black: black;
}

body {
  max-width: 80ch;
  padding: 2rem 2rem;
  margin: 0 auto;
  color: var(--black);
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

section h1 {
  font-size: 2rem;
  font-weight: 800;
}

section h2 {
  font-size: 1.4rem;
  font-weight: 800;
}
