:root {
  --main: #0c0c0d;
  --main-highlight: #262626;

  --light-gray: #f1f2f3;
  --light-gray-highlight: #f4f6f8;

  --dark-gray: #2b2b2b;
}

.wrapper {
  max-width: 40rem;
  padding: 2rem 2rem;
  margin: 0 auto;
}

radio-group input[type='radio'] + label {
  background: var(--light-gray);
  font-weight: 600;
}

radio-group input[type='radio']:checked + label {
  background: var(--main);
  color: white;
}

radio-group input[type='radio'] + label:hover {
  background: var(--light-gray-highlight);
}
radio-group input[type='radio']:checked + label:hover {
  background: var(--main-highlight);
}

input[type='checkbox'] + label:hover {
  color: rgb(80, 80, 80);
}

toggle-switch {
  height: 1.5rem;
}

toggle-switch .circle {
  transform: translateX(0%) scale(0.75);
  background: var(--dark-gray);
}

toggle-switch .active .circle {
  transform: translateX(100%) scale(0.75);
  background: white;
}

toggle-switch .slider {
  background: white;
  border: 1px solid var(--dark-gray);
}
toggle-switch .active .slider {
  background: var(--main);
  border: 1px solid var(--main);
}

toggle-switch:hover .active .slider {
  background: var(--main-highlight);
  border: 1px solid var(--main-highlight);
}

toggle-switch input[type='checkbox']:focus-visible ~ .slider {
  outline: 2px solid var(--main);
  outline-offset: 0.1rem;
}

details[open] summary ~ div {
  animation: sweep 0.35s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

details summary .chevron {
  transition: transform 0.3s ease;
}

details[open] summary .chevron {
  transform: rotate(90deg);
}
