/* ---------------------------- GENERAL --------------------------- */

/* Hide video View Count */
html[data-attention-active]
  ytd-rich-grid-media
  #metadata-line
  > span:nth-child(1),
html[data-attention-active]
  ytd-grid-video-renderer
  #metadata-line
  > span:nth-child(1),
html[data-attention-active]
  ytd-video-renderer
  #metadata-line
  > span:nth-child(1) {
  display: none !important;
}

/* ---------------------------- HOME PAGE --------------------------- */
/* Completly hide home recommendations */
html[data-attention-active][data-home-recommendations-state='hidden']
  ytd-browse {
  display: none;
}

/* Hide home video sections like Trending,... */
html[data-attention-active] ytd-rich-section-renderer {
  display: none;
}
/* 
html[data-attention-active] .ghost-grid.ytd-ghost-grid-renderer {
  display: none !important;
} */

/* Hide continuation items */
html[data-attention-active] ytd-continuation-item-renderer {
  display: none !important;
}

/* Hide filters Bar */
html[data-attention-active][data-hide-home-feed-filter-bar]
  ytd-feed-filter-chip-bar-renderer {
  display: none;
}

/* Hide Explore Button Sidebar */
html[data-attention-active][data-hide-explore-tab-sidebar]
  ytd-mini-guide-entry-renderer:nth-child(2) {
  display: none;
}
html[data-attention-active][data-hide-explore-tab-sidebar]
  ytd-guide-section-renderer:nth-child(1)
  > div:nth-child(2)
  > ytd-guide-entry-renderer:nth-child(2) {
  display: none !important;
}

/* Grayscale Notification Icon */
html[data-attention-active][data-gray-notification-count] #notification-count {
  background: var(--yt-opalescence-grey) !important;
}

/* Hide thumbnails */
html[data-attention-active][data-previews-state='hidden']
  ytd-rich-grid-media
  ytd-thumbnail
  yt-img-shadow,
html[data-attention-active][data-previews-state='hoverImg']
  ytd-rich-grid-media
  ytd-thumbnail
  yt-img-shadow,
html[data-attention-active][data-previews-state='hoverVideo']
  ytd-rich-grid-media
  ytd-thumbnail
  yt-img-shadow {
  opacity: 0 !important;
}

/* Hide mouseover video */
html[data-attention-active][data-previews-state='hidden']
  ytd-rich-grid-media
  ytd-thumbnail
  #mouseover-overlay,
html[data-attention-active][data-previews-state='hoverImg']
  ytd-rich-grid-media
  ytd-thumbnail
  #mouseover-overlay {
  display: none !important;
}

/* Show thumbnail on hover */
html[data-attention-active][data-previews-state='hoverImg']
  ytd-rich-grid-media:hover
  ytd-thumbnail
  yt-img-shadow,
html[data-attention-active][data-previews-state='hoverVideo']
  ytd-rich-grid-media:hover
  ytd-thumbnail
  yt-img-shadow {
  transition: opacity 0.4s;
  opacity: 1 !important;
}

/* Hide Channel Image */
ytd-rich-item-renderer #details yt-img-shadow {
  display: none !important;
}

/* ---------------------------- VIDEO PAGE --------------------------- */

/* Hide recommended videos right panel */
html[data-attention-active] ytd-watch-flexy #secondary-inner {
  display: none;
}

/* Hide recommended videos bottom of video */
html[data-attention-active] .ytd-watch-next-secondary-results-renderer {
  display: none;
}

/* Hide Video View count */
ytd-video-primary-info-renderer #info #count {
  display: none !important;
}
/* Hide Dot next to View count */
ytd-video-primary-info-renderer #info #dot {
  display: none !important;
}

/* Hide Likes & dislikes */
ytd-video-primary-info-renderer
  #top-level-buttons
  ytd-toggle-button-renderer
  yt-formatted-string {
  display: none;
}

/* Hide Subscribers count */
#upload-info > #owner-sub-count {
  display: none;
}

/* Hide comments */
html[data-attention-active][data-hide-comments-section] ytd-comments {
  display: none !important;
}
html[data-attention-active][data-hide-comments-section]
  ytd-video-secondary-info-renderer {
  border-bottom: none !important;
}

/* Disable ending cards from creator */
.ytp-ce-element {
  display: none !important;
}
/* Disable end grid video screenn */
.html5-endscreen {
  display: none !important;
}

/* ---------------------------- SEARCH PAGE --------------------------- */

/* ---------------------------- SUBSCRIPTIONS PAGE --------------------------- */

/* ---------------------------- EXPLORE PAGE --------------------------- */

/* ---------------------------- CHANNEL PAGE --------------------------- */
/* Hide subscriber count */
ytd-browse[page-subtype='channels'] #subscriber-count {
  display: none;
}
