/* -------------- ASIDE LEFT -------------- */
html[data-is-active] [data-testid='AppTabBar_Explore_Link'] {
  display: none;
}

/* -------------- ASIDE RIGHT -------------- */

/* You might like */
/* html[data-is-active] aside[role='complementary'] {
  display: none;
}

html[data-is-active] [data-testid='sidebarColumn'] [role='region'] {
  display: none;
} */

html[data-is-active]
  [data-testid='sidebarColumn']
  .css-1dbjc4n.r-vacyoi.r-ttdzmv
  > div {
  display: none;
}
html[data-is-active]
  [data-testid='sidebarColumn']
  .css-1dbjc4n.r-vacyoi.r-ttdzmv
  > div:first-child {
  display: initial;
}
html[data-is-active]
  [data-testid='sidebarColumn']
  .css-1dbjc4n.r-vacyoi.r-ttdzmv
  > div:last-child {
  display: initial;
}
html[data-is-active]
  [data-testid='sidebarColumn']
  .css-1dbjc4n.r-vacyoi.r-ttdzmv
  > div:nth-child(2) {
  display: initial;
}

/* -------------- WITHOUT SIGNUP -------------- */

/* Aside "New to Twitter?" */
html[data-is-active] [data-testid='sidebarColumn'] [aria-label='Sign up'] {
  display: none;
}

/* -------------- PRIMARY COLUMN -------------- */
/* Hide metrics */
html[data-is-active] [data-testid='reply'] > div > div:last-child {
  display: none;
}
html[data-is-active] [data-testid='retweet'] > div > div:last-child,
[data-testid='unretweet'] > div > div:last-child {
  display: none;
}
html[data-is-active] [data-testid='like'] > div > div:last-child,
[data-testid='unlike'] > div > div:last-child {
  display: none;
}

/* Followers & Following Main Profile & Hover opups*/
html[data-is-active] [href$='/following'] {
  display: flex;
}
html[data-is-active] [href$='/following'] > span:first-child {
  display: none;
}
html[data-is-active] [href$='/followers'] {
  display: flex;
}
html[data-is-active] [href$='/followers'] > span:first-child {
  display: none;
}

/* -------------- TWEET VIEW -------------- */

/* Hide metrics inside tweet view */
html[data-is-active] article [href$='/likes'] {
  display: flex;
}
html[data-is-active] article [href$='/likes'] > div {
  display: none;
}
html[data-is-active] article [href$='/retweets'] {
  display: flex;
}
html[data-is-active] article [href$='/retweets'] > div {
  display: none;
}
html[data-is-active] article [href$='/retweets/with_comments'] {
  display: flex;
}
html[data-is-active] article [href$='/retweets/with_comments'] > div {
  display: none;
}
