/* -------------- ASIDE LEFT -------------- */
html[data-is-active] [data-testid='AppTabBar_Explore_Link'] {
  display: none;
}

/* -------------- ASIDE RIGHT -------------- */

/* You might like */
html[data-is-active] aside[role='complementary'] {
  opacity: 0.1;
}

html[data-is-active] [data-testid='sidebarColumn'] [role='region'] {
  opacity: 0.1;
}

/* -------------- WITHOUT SIGNUP -------------- */

/* Aside "New to Twitter?" */
html[data-is-active] [data-testid='sidebarColumn'] [aria-label='Sign up'] {
  opacity: 0.1;
}

/* -------------- PRIMARY COLUMN -------------- */
/* Hide metrics */
html[data-is-active] [data-testid='reply'] > div > div:last-child {
  display: none;
}
html[data-is-active] [data-testid='retweet'] > div > div:last-child,
[data-testid='unretweet'] > div > div:last-child {
  display: none;
}
html[data-is-active] [data-testid='like'] > div > div:last-child,
[data-testid='unlike'] > div > div:last-child {
  display: none;
}

/* Followers & Following Main Profile */
html[data-is-active]
  [data-testid='primaryColumn']
  div.r-13awgt0:nth-child(5)
  a {
  display: inherit;
}
html[data-is-active]
  [data-testid='primaryColumn']
  div.r-13awgt0:nth-child(5)
  a
  > span:first-child {
  display: none;
}

/* [aria-label] {
  border: 2px solid red;
}
[data-testid] {
  border: 2px solid orange;
}
[role="region"] {
  border: 2px solid green;
} */

/* [data-testid="tweet"] ~ div > div:nth-child(4) [role="link"] {
  display: inherit;
} */
/* 
[data-testid="tweet"] ~ div > div:nth-child(3) [role="link"] > div,
[data-testid="tweet"] ~ div > div:nth-child(4) [role="link"] > div {
  display: none;
} */

/* -------------- TWEET VIEW -------------- */

html[data-is-active]
  [aria-label='Timeline: Conversation']
  [data-testid='reply']
  > div
  > div:last-child {
  display: block;
}
html[data-is-active]
  [aria-label='Timeline: Conversation']
  [data-testid='retweet']
  > div
  > div:last-child,
[data-testid='unretweet'] > div > div:last-child {
  display: block;
}
html[data-is-active]
  [aria-label='Timeline: Conversation']
  [data-testid='like']
  > div
  > div:last-child,
[data-testid='unlike'] > div > div:last-child {
  display: block;
}
